
<main class="main bg-gray-600">
  <div class="h-screen flex items-center justify-center">
    <div class="w-9/12 p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Random Class Selector!</h5>
      <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Click the button below to select a random class, spec, hero talents, and race!</p>
      <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <button (click)="getRandomSelection()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tell me what to play!</button>
      </div>
      
      <div class="flex flex-col items-center pb-10">
        <img class="h-16 mt-3 shadow-lg transition delay-300 duration-300" src="{{ randomClass.icon }}" onerror="this.style.display='none'"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white transition delay-500 duration-300">{{ randomSpec }}</h5>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white transition delay-1000 duration-300">{{ randomRace }}</h5>
      </div>
    </div>

  </div>

</main>




<router-outlet />
