
<main class="bg-gray-600">
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-10/12 lg:w-6/12 p-4 m-2 text-center border border-gray-700 rounded-lg shadow sm:p-8 bg-gray-800">

      <h5 class="mb-2 text-xl font-bold text-gray-300">World of Warcraft</h5>
      <h5 class="mb-2 text-2xl font-bold text-gray-300">Random Class Selector!</h5>

      <!-- Filters -->
      <div>
        <p class="text-base text-gray-400 sm:text-lg">Unselect any option to remove from random generator</p>

        <!-- Role and faction filters-->
        <div class="my-5 flex flex-wrap justify-center" role="group">
          <!-- Tank -->
          <div class="flex">
            <input #checkbox type="checkbox" id="tankFilter" class="peer hidden" (change)="tankFilter = !tankFilter" [checked]="tankFilter"/>
            <label for="tankFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-gray-300 bg-gray-800 border border-gray-700
              peer-checked:bg-gray-700"><img class="h-5 mr-1" src="../assets/role-icons/tank_icon.png" /> Tank</label>
          </div>

          <!-- Melee DPS -->
          <div class="flex">
            <input type="checkbox" id="meleedpsFilter" class="peer hidden" (change)="meleedpsFilter = !meleedpsFilter" [checked]="meleedpsFilter"/>
            <label for="meleedpsFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-gray-300 bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700"><img class="h-5 mr-1" src="../assets/role-icons/dps_icon.png" /> Melee DPS</label>
          </div>

          <!-- Range DPS -->
          <div class="flex">
            <input type="checkbox" id="rangedpsFilter" class="peer hidden" (change)="rangedpsFilter = !rangedpsFilter" [checked]="rangedpsFilter"/>
            <label for="rangedpsFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-gray-300 bg-gray-800 border border-gray-700 
                peer-checked:bg-gray-700"><img class="h-5 mr-1" src="../assets/role-icons/dps_icon.png" /> Range DPS</label>
          </div>

          <!-- Healer -->
          <div class="flex">
            <input type="checkbox" id="healerFilter" class="peer hidden" (change)="healerFilter = !healerFilter" [checked]="healerFilter"/>
            <label for="healerFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-gray-300 bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700"><img class="h-5 mr-1" src="../assets/role-icons/healer_icon.png" />Healer</label>
          </div>

          <!-- Alliance -->
          <div class="flex">
            <input type="checkbox" id="allianceFilter" class="peer hidden" (change)="allianceFilter = !allianceFilter" [checked]="allianceFilter"/>
            <label for="allianceFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-gray-300 bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700"><img class="h-5 mr-1" src="../assets/race-icons/alliance.png" />Alliance</label>
          </div>

          <!-- Horde -->
          <div class="flex">
            <input type="checkbox" id="hordeFilter" class="peer hidden" (change)="hordeFilter = !hordeFilter" [checked]="hordeFilter"/>
            <label for="hordeFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-gray-300 bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700"><img class="h-5 mr-1" src="../assets/race-icons/horde.png" />Horde</label>
          </div>
        </div>

        <!-- Class filters -->
        <div class="my-5 flex flex-wrap justify-center" role="group">
          
          <div class="flex">
            <input type="checkbox" id="deathknightFilter" class="peer hidden" (change)="deathknightFilter = !deathknightFilter" [checked]="deathknightFilter"/>
            <label for="deathknightFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-deathknight bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Death Knight</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="demonhunterFilter" class="peer hidden" (change)="demonhunterFilter = !demonhunterFilter" [checked]="demonhunterFilter"/>
            <label for="demonhunterFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-demonhunter bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Demon Hunter</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="druidFilter" class="peer hidden" (change)="druidFilter = !druidFilter" [checked]="druidFilter"/>
            <label for="druidFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-druid bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Druid</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="evokerFilter" class="peer hidden" (change)="evokerFilter = !evokerFilter" [checked]="evokerFilter"/>
            <label for="evokerFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-evoker bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Evoker</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="hunterFilter" class="peer hidden" (change)="hunterFilter = !hunterFilter" [checked]="hunterFilter"/>
            <label for="hunterFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-hunter bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Hunter</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="mageFilter" class="peer hidden" (change)="mageFilter = !mageFilter" [checked]="mageFilter"/>
            <label for="mageFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-mage bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Mage</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="monkFilter" class="peer hidden" (change)="monkFilter = !monkFilter" [checked]="monkFilter"/>
            <label for="monkFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-monk bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Monk</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="paladinFilter" class="peer hidden" (change)="paladinFilter = !paladinFilter" [checked]="paladinFilter"/>
            <label for="paladinFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-paladin bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Paladin</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="priestFilter" class="peer hidden" (change)="priestFilter = !priestFilter" [checked]="priestFilter"/>
            <label for="priestFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-priest bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Priest</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="rogueFilter" class="peer hidden" (change)="rogueFilter = !rogueFilter" [checked]="rogueFilter"/>
            <label for="rogueFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-rogue bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Rogue</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="shamanFilter" class="peer hidden" (change)="shamanFilter = !shamanFilter" [checked]="shamanFilter"/>
            <label for="shamanFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-shaman bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Shaman</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="warlockFilter" class="peer hidden" (change)="warlockFilter = !warlockFilter" [checked]="warlockFilter"/>
            <label for="warlockFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-warlock bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Warlock</label>
          </div>
          <div class="flex">
            <input type="checkbox" id="warriorFilter" class="peer hidden" (change)="warriorFilter = !warriorFilter" [checked]="warriorFilter"/>
            <label for="warriorFilter" class="select-none cursor-pointer flex justify-center m-1 px-4 py-2 text-sm font-medium text-warrior bg-gray-800 border border-gray-700 
              peer-checked:bg-gray-700">Warrior</label>
          </div>
        </div>
      </div>

      <p class="mb-5 text-base text-gray-400 sm:text-lg">Click the button below to select a random class, spec, hero talents, and race!</p>

      <div class="items-center justify-center">
        <button (click)="getRandomSelection()" class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Tell me what to play!</button>
      </div>

      <!-- Response -->
      <div class="flex flex-col items-center pt-10" *ngIf="isResponseShown">
        
        <!-- Race -->
        <div class="flex flex-col border-gray-700 bg-gray-900 hover:bg-gray-700 min-h-14 lg:min-h-28 w-9/12 p-2 mb-5 lg:p-4 lg:mb-8 items-center rounded-lg md:flex-row md:max-w-xl" [ngClass]="{ 'animate-pulse': !isRaceLoaded}" >
          <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300" *ngIf="isRaceLoading">
              <div role="status" class="text-center my-5">
                <svg aria-hidden="true" class="inline w-8 h-8 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="pl-2 text-gray-400">Picking a race...</span>
              </div>
          </h5>
          
          <img class="rounded-full bg-gray-500 h-12 lg:h-20 lg:w-20" src="{{ randomRace.icon }}" onerror="this.style.display='none'" *ngIf="isRaceLoaded">

          <div class="flex flex-col p-1 lg:p-4" *ngIf="isRaceLoaded">
              <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300">{{ randomRace.name }}</h5>
          </div>
        </div>

        <!-- Class -->
        <div class="flex flex-col border-gray-700 bg-gray-900 hover:bg-gray-700 min-h-14 lg:min-h-28 w-9/12 p-2 mb-5 lg:p-4 lg:mb-8 items-center rounded-lg md:flex-row md:max-w-xl" [ngClass]="{ 'animate-pulse': !isClassLoaded}" >
          <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300" *ngIf="isClassLoading">
              <div role="status" class="text-center my-5">
                <svg aria-hidden="true" class="inline w-8 h-8 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="pl-2 text-gray-400">Choosing your class...</span>
              </div>
          </h5>

          <img class="rounded-full bg-gray-500 h-12 lg:h-20 lg:w-20" src="{{ randomClass.icon }}" onerror="this.style.display='none'" *ngIf="isClassLoaded">

          <div class="flex flex-col p-1 lg:p-4" *ngIf="isClassLoaded">
              <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300">{{ randomClass.name }}</h5>
          </div>
        </div>

        <!-- Spec -->
        <div class="flex flex-col border-gray-700 bg-gray-900 hover:bg-gray-700 min-h-14 lg:min-h-28 w-9/12 p-2 mb-5 lg:p-4 lg:mb-8 items-center rounded-lg md:flex-row md:max-w-xl" [ngClass]="{ 'animate-pulse': !isSpecLoaded}" >
          <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300" *ngIf="isSpecLoading">
              <div role="status" class="text-center my-5">
                <svg aria-hidden="true" class="inline w-8 h-8 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="pl-2 text-gray-400">Determining a spec...</span>
              </div>
          </h5>

          <img class="rounded-full bg-gray-500 h-12 lg:h-20 lg:w-20" src="{{ randomSpec.icon }}" onerror="this.style.display='none'" *ngIf="isSpecLoaded">

          <div class="flex flex-col p-1 lg:p-4" *ngIf="isSpecLoaded">
              <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300">{{ randomSpec.name }}</h5>
          </div>
        </div>

        <!-- Hero -->
        <div class="flex flex-col border-gray-700 bg-gray-900 hover:bg-gray-700 min-h-14 lg:min-h-28 w-9/12 p-2 mb-5 lg:p-4 lg:mb-8 items-center rounded-lg md:flex-row md:max-w-xl" [ngClass]="{ 'animate-pulse': !isHeroLoaded}" >
          <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300" *ngIf="isHeroLoading">
              <div role="status" class="text-center my-5">
                <svg aria-hidden="true" class="inline w-8 h-8 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="pl-2 text-gray-400">Let's be a hero...</span>
              </div>
          </h5>
          <img class="rounded-full bg-gray-500 h-12 lg:h-20 lg:w-20" src="assets/war-within-logo.png" onerror="this.style.display='none'" *ngIf="isHeroLoaded">

          <div class="flex flex-col p-1 lg:p-4" *ngIf="isHeroLoaded">
              <h5 class="text-lg lg:text-3xl font-bold tracking-tight text-gray-300">{{ randomHero }}</h5>
          </div>
        </div>


        <!-- Previous entries -->
        <div class="mt-10 w-9/12 p-4 border rounded-lg shadow sm:p-8 bg-gray-800 border-gray-700" *ngIf="isAllEntriesLoaded">
          <div class="flex justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-300">All Entries</h5>
          </div>

          <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-700">
              <li class="py-3 sm:py-4 text-sm" *ngFor="let allEntry of allEntries">
                <div class="flex">
                  <div class="flex-shrink-0">
                      <img class="rounded-full bg-gray-500 h-10 lg:h-18 lg:w-18" src="{{ allEntry.icon }}">
                  </div>
                  <div class="flex-1">
                    <p class="font-medium text-gray-300">
                      {{ allEntry.class }}
                    </p>
                    <p class="text-gray-400">
                      {{ allEntry.race }}
                    </p>
                  </div>
                  <div class="flex-1 ">
                    <p class="font-medium text-gray-300">
                      {{ allEntry.spec }}
                    </p>
                    <p class="text-gray-400">
                      {{ allEntry.hero }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<router-outlet />
